.customHeart {
    position: relative;
    width: 100px;
    height: 90px;
    transform: rotate(-45deg);
    margin: 50px auto;
  }
  .customHeart:before,
  .customHeart:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: red;
    border-radius: 50px 50px 0 0;
  }
  .customHeart:before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .customHeart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }